@model MySugarTracker.ViewModels.DoctorUser



@{
    ViewBag.Title = "Doctor Profile Page";
}


<h2 align="center">Dr. @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) </h2> 



    <table>
    <tr>
        <th>
            Patient List
        </th>
        <th></th>
    </tr>
            @foreach (var item in Model.PatientList)
            {
                <tr>
                    <td>
                        <a href="/Patients/Edit/@Html.DisplayFor(model => item.UserID)">@item.FirstName</a> <a href="/Patients/Edit/@Html.DisplayFor(model => item.UserID)">@item.LastName</a>
                    </td>
                    <td>
                        <a href="/Patients/Edit/@Html.DisplayFor(model => item.UserID)">@item.PhoneNumber</a>
                    </td>
                    <td>
                        <a href="/Patients/Edit/@Html.DisplayFor(model => item.UserID)">@item.Email</a>
                    </td>
                </tr>
    }  
    </table>
    
