@model MySugarTracker.ViewModels.PatientUser


@{
    ViewBag.Title = "Index";
}

<h2>Patient Profile Information</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardioVascularDisease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HighBloodPressure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThyroidDisease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Female)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pregnant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailPref)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SMSPref)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LowAlert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HighAlert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestTime1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestTime2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestTime3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestTime4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeightInPounds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeightInInches)
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model) {*@
    <tr>
        <td>
            @Html.DisplayFor(model => model.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.CardioVascularDisease)
        </td>
        <td>
            @Html.DisplayFor(model => model.HighBloodPressure)
        </td>
        <td>
            @Html.DisplayFor(model => model.ThyroidDisease)
        </td>
        <td>
            @Html.DisplayFor(model => model.Female)
        </td>
        <td>
            @Html.DisplayFor(model => model.Pregnant)
        </td>
        <td>
            @Html.DisplayFor(model => model.EmailPref)
        </td>
        <td>
            @Html.DisplayFor(model => model.SMSPref)
        </td>
        <td>
            @Html.DisplayFor(model => model.LowAlert)
        </td>
        <td>
            @Html.DisplayFor(model => model.HighAlert)
        </td>
        <td
            @Html.DisplayFor(model => model.TestTime1)
        </td>
        <td>
            @Html.DisplayFor(model => model.TestTime2)
        </td>
        <td>
            @Html.DisplayFor(model => model.TestTime3)
        </td>
        <td>
            @Html.DisplayFor(model => model.TestTime4)
        </td>
        <td>
            @Html.DisplayFor(model => model.WeightInPounds)
        </td>
        <td>
            @Html.DisplayFor(model => model.HeightInInches)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>*@


</table>
